apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels:
    app: goserver
spec:
  selector:
    matchLabels:
      app: goserver
  replicas: 1
  template: 
    metadata:
      labels:
        app: "goserver"
    spec:
      containers:
        - name: goserver
          image: "gabrielgianelli/hello-go:v5.1"
          envFrom:
            - configMapRef:
                name: goserver-env
          volumeMounts:
            - mountPath: "/mygames"
              name: config
      volumes:
        - name: config
          configMap:
            name: configmap-games
            items:
              - key: playing
                path: "games.txt"